<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico" />
    <%- include ('../Partials/HeaderStyle') %>
</head>
<body>

    <div class="home-btn d-none d-sm-block">
        <a href="https://policianacional.codemasters.dev/" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Bienvenido a PMSystem</h5>
                                <p class="text-white-50">Inicia sesión para administrar el sistema</p>
                                <a href="/" class="logo logo-admin">
                                    <img src="http://policianacional.codemasters.dev/image/logo-policia-2.PNG" height="80" alt="logo">
                                </a>
                            </div>
                        </div>

                        <div class="card-body p-4">
                            <div class="p-3">
                                <%- include ('../Partials/mensajes') %>
                                <form class="form-horizontal mt-4" action="/login" method="POST">

                                    <div class="form-group">
                                        <label for="username">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Escribe email" name="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="userpassword">Contraseña</label>
                                        <input type="password" class="form-control" id="userpassword" placeholder="Enter password" name="password">
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Iniciar Sesión</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="mt-5 text-center">
                        <p>No tienes una cuenta? <a href="signup" class="font-weight-medium text-primary"> Registrate </a> </p>
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> PMSystem. Creado con <i class="mdi mdi-heart text-danger"></i> por Engel B. García M.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <%- include ('../Partials/FooterScript') %>

    <script src="public/assets/js/app.js"></script>

</body>

</html>