<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Registrarse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="public/assets/images/favicon.ico">

	<%- include ('../Partials/HeaderStyle') %>
</head>
<body>

	<div class="home-btn d-none d-sm-block">
		<a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
	</div>
	<div class="account-pages my-5 pt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6 col-xl-5">
					<div class="card overflow-hidden">
						<div class="bg-primary">
							<div class="text-primary text-center p-4">
								<h5 class="text-white font-size-20">Registrar Usuario</h5>
								<p class="text-white-50">Crea una cuenta para tener acceso al sistema.</p>
								<a href="/" class="logo logo-admin">
									<img src="public/assets/images/logo-sm.png" height="24" alt="logo">
								</a>
							</div>
						</div>

						<div class="card-body p-4">
							<div class="p-3">
								<%- include ('../Partials/mensajes') %>
								<form class="form-horizontal mt-4" action="/signup" method="POST">

									<div class="form-group">
										<label for="useremail">Nombre</label>
										<input type="text" class="form-control" name="firstname" id="nombre"
											placeholder="Escribe tu nombre" value="<%= typeof nombre != 'undefined' ? nombre : '' %>">
									</div>

									<div class="form-group">
										<label for="useremail">Apellido</label>
										<input type="text" class="form-control" name="lastname" id="apellido"
											placeholder="Escribe tu nombre" value="<%= typeof apellido != 'undefined' ? apellido : '' %>">
									</div>

									<div class="form-group">
										<label for="useremail">Email</label>
										<input type="email" class="form-control" name="email" id="email"
											placeholder="Escribe email" value="<%= typeof email != 'undefined' ? email : '' %>">
									</div>

									<!-- <div class="form-group">
										<label for="username">Username</label>
										<input type="text" class="form-control" id="username"
											placeholder="Enter username">
									</div> -->

									<div class="form-group">
										<label for="userpassword">Password</label>
										<input type="password" class="form-control" name="password" id="password"
											placeholder="Enter password">
									</div>

									<div class="form-group row">
										<div class="col-12 text-right">
											<button class="btn btn-primary w-md waves-effect waves-light"
												type="submit">Registrarte</button>
										</div>
									</div>

								</form>

							</div>
						</div>

					</div>

					<div class="mt-5 text-center">

						<p>Already have an account ? <a href="login" class="font-weight-medium text-primary">
								Login </a> </p>
						<p>©
							<script>document.write(new Date().getFullYear())</script> Veltrix. Crafted with <i
								class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
					</div>


				</div>
			</div>
		</div>
	</div>

	<%- include ('../Partials/FooterScript') %>
	<script src="public/assets/js/app.js"></script>
</body>

</html>