<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title">Menú</li>

              <li>
                  <a href="/" class="waves-effect">
                      <i class="ti-home"></i>
                      <span>Escritorio</span>
                  </a>
              </li>
              <li>
                <a href="/incidentes" class=" waves-effect">
                    <i class="ti-notepad"></i>
                    <span>Incidentes</span>
                </a>
              </li>
              <li>
                <a href="/patrulla" class="waves-effect">
                    <i class="ti-car"></i>
                    <span>Patrullas</span>
                </a>
              </li>
              <li>
                <a href="/oficiales" class=" waves-effect">
                    <i class="ti-book"></i>
                    <span>Oficiales</span>
                </a>
              </li>
              <li>
                <a href="/usuarios" class=" waves-effect">
                    <i class="ti-user"></i>
                    <span>Usuarios</span>
                </a>
              </li>
              <li>
                  <a href="/chat" class="waves-effect">
                      <i class="ion ion-md-chatboxes"></i>
                      <span>Chat</span>
                  </a>
              </li>
              <li>
                <a href="/reportes" class="waves-effect">
                    <i class="fas fa-chart-bar"></i>
                    <span>Reportes</span>
                </a>
            </li>
            <li>
                <a href="/ayuda" class="waves-effect">
                    <i class="ti-help-alt"></i>
                    <span>FAQ</span>
                </a>
            </li>

          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->