<!-- JAVASCRIPT -->
<script src="/public/assets/libs/jquery/jquery.min.js"></script>
<script src="/public/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/public/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/public/assets/libs/node-waves/waves.min.js"></script>