<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				© <%= new Date().getFullYear(); %> Sistema Nacional de Gestión de Patrullas Policiales <span class="d-none d-sm-inline-block">
					- Creado con <i class="mdi mdi-heart text-danger"></i> por
					Engel B. Garcia M..</span>
			</div>
		</div>
	</div>
</footer>