<div class="row align-items-center">
    <div class="col-sm-6">
        <%- breadcrumb %>
    </div>

    <div class="col-sm-6">
        <div class="float-right d-none d-md-block">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle waves-effect waves-light"
                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Crear <i class="mdi mdi-plus mr-2"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/incidentes/crear">Crear Incidente</a>
                    <a class="dropdown-item" href="/patrulla/crear">Crear Patrulla</a>
                    <a class="dropdown-item" href="/oficial/crear">Crear Oficial</a>
                    <a class="dropdown-item" href="/usuario/crear">Crear Usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>