<%- contentFor('HeaderCss') %>
<link href="/public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<style>
    #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    margin-bottom: 20px;
    /* The width is the width of the web page */
    }
</style>
<%- contentFor('title') %> Form Wizard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
    <h4 class="font-size-18">Crear Incidente</h4>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="javascript: void(0);">Escritorio</a></li>
        <li class="breadcrumb-item"><a href="javascript: void(0);">Crear Incidente</a></li>
    </ol>
</div>

<%- contentFor('body') %>
<div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Datos de quien reporta</h4>
                    <p class="card-title-desc">Aquí debes proporcionar información valida sobre quien esta reportando
                        el incidente.</p>

                    <form class="custom-validation" action="#">
                        <div class="form-group">
                            <label><span class="text-danger">* </span>Nombre:</label>
                            <input type="text" class="form-control" required placeholder="Nombre de quien reporta" />
                        </div>

                        <div class="form-group">
                            <label><span class="text-danger">* </span>Apellido:</label>
                            <input type="text" class="form-control" required placeholder="Apellido de quien reporta" />
                        </div>

                        <div class="form-group">
                            <label><span class="text-danger">* </span>Número de teléfono:</label>
                            <input id="input-mask" class="form-control input-mask"
										data-inputmask="'mask': '(999)-999-9999'">
                        </div>

                        <div class="form-group">
                            <label>Descripción dada por quien reporta</label>
                            <div>
                                <textarea required class="form-control" rows="5"></textarea>
                            </div>
                        </div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Detalles del incidente</h4>
                    <p class="card-title-desc">Siministra los detalles solicitados para poder crear el incidente.</p>

                    <div class="form-group">
                        <label class="control-label"><span class="text-danger">* </span>Tipo de Incidente</label>
                        <select class="form-control select2">
                            <option>Seleccione...</option>
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label"><span class="text-danger">* </span>Prioridad</label>
                        <select class="form-control select2">
                            <option>Seleccione...</option>
                            <option value=""></option>
                        </select>
                    </div>

                        <div class="form-group">
                            <label><span class="text-danger">* </span>Fecha de Incidente</label>
                            <div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="mm/dd/yyyy"
                                        id="datepicker-autoclose">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div><!-- input-group -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label><span class="text-danger">* </span>Sector:</label>
                            <input type="text" class="form-control" required placeholder="Sector donde fue el incidente" />
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">* </span>Municipio:</label>
                            <input type="text" class="form-control" required placeholder="Municipio donde fue el incidente" />
                        </div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col">

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Ubicación</h4>
                    <p class="card-title-desc">Aquí debes buscar una direccón en el mapa para completar el proceso de creación.</p>

                    <div class="form-group">
                        <label><span class="text-danger">* </span>Buscar un lugar:</label>
                        <input id="pac-input" class="controls form-control" type="text" placeholder="Escribe un lugar" />
                    </div>
                    <!--The div element for the map -->
                    <div id="map"></div>

                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                Crear
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect">
                                Cancelar
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </form>

        </div><!-- end col -->
    
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- form mask -->
<script src="/public/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>

<!-- form mask init -->
<script src="/public/assets/js/pages/form-mask.init.js"></script>

<!-- Date Picker -->
<script src="/public/assets/libs/select2/js/select2.min.js"></script>
<script src="/public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/public/assets/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/public/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="/public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/public/assets/js/pages/form-advanced.init.js"></script>

<!-- Google Maps -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMAW3D3YGcmxvjPCF3Vkm_Gmrql2OWuXU&libraries=places&callback=initAutocomplete">
</script>

<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
// feature. People can enter geographical searches. The search box will return a
// pick list containing a mix of places and predicted search terms.
// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
function initAutocomplete() {
  const map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 19.4398316, lng: -70.7430639 },
    zoom: 13,
    mapTypeId: "roadmap",
  });
  // Create the search box and link it to the UI element.
  const input = document.getElementById("pac-input");
  const searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  // Bias the SearchBox results towards current map's viewport.
  map.addListener("bounds_changed", () => {
    searchBox.setBounds(map.getBounds());
  });
  let markers = [];
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener("places_changed", () => {
    const places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }
    // Clear out the old markers.
    markers.forEach((marker) => {
      marker.setMap(null);
    });
    markers = [];
    // For each place, get the icon, name and location.
    const bounds = new google.maps.LatLngBounds();
    places.forEach((place) => {
      if (!place.geometry || !place.geometry.location) {
        console.log("Returned place contains no geometry");
        return;
      }
      const icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25),
      };
      // Create a marker for each place.
      markers.push(
        new google.maps.Marker({
          map,
          icon,
          title: place.name,
          position: place.geometry.location,
        })
      );

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });
}

function placeMarker(location) {
  var marker = new google.maps.Marker({
      position: location, 
      map: map
  });

  map.setCenter(location);
}
</script>

<%- contentFor('BottomJs') %>