<%- contentFor('HeaderCss') %>

<%- contentFor('title') %> Form Wizard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
    <h4 class="font-size-18">Crear Patrulla</h4>
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="javascript: void(0);">Escritorio</a></li>
        <li class="breadcrumb-item"><a href="javascript: void(0);">Crear Patrulla</a></li>
    </ol>
</div>

<%- contentFor('body') %>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario</h4>
                <p class="card-title-desc">Completa este fomrulario para crear una patrulla en el sistema</p>

                <form id="form-horizontal" class="form-horizontal form-wizard-wrapper" method="POST" action="">
                    <h3>Detalles del vehículo</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
									<label class="col-lg-3 col-form-label">Marca</label>
									<div class="col-lg-9">
										<select class="form-control" name="marca">
											<option>-- Seleccionar --</option>
											<option>Nissan</option>
											<option>Toyota</option>
											<option>Isuzu</option>
                                            <option>Mazda</option>
                                            <option>Ford</option>
                                            <option>Volkswagen</option>
										</select>
									</div>
								</div>
                            </div>
							<div class="col-md-6">
                                <div class="form-group row">
									<label class="col-lg-3 col-form-label">Modelo</label>
									<div class="col-lg-9">
										<select required class="form-control" name="modelo">
											<option>-- Seleccionar --</option>
											<option>Pendiente</option>
											<option>Cancelado</option>
											<option>Atendido</option>
										</select>
									</div>
								</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Matricula</label>
                                    <div class="col-lg-9">
                                        <input id="matricula" name="matricula" type="text" class="form-control" required placeholder="Escribe la matricula" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Placa</label>
                                    <div class="col-lg-9">
                                        <input type="text" name="placa" class="form-control" required placeholder="Escribe la placa" />
                                    </div>
                                </div>
                            </div>
                        </div>
 
                    </fieldset>
                </form>


            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- google maps api -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCtSAR45TFgZjOs4nBFFZnII-6mMHLfSYI"></script>

<!-- Gmaps file -->
<script src="/public/assets/libs/gmaps/gmaps.min.js"></script>

<!-- demo codes -->
<script src="/public/assets/js/pages/gmaps.init.js"></script>

<!-- form wizard -->
<script src="/public/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<!-- JQuery -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<!-- form wizard init -->
<script src="/public/assets/js/pages/form-wizard.init.js"></script>

<%- contentFor('BottomJs') %>