<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link href="public/assets/libs/chartist/chartist.min.css" rel="stylesheet">
<!-- perticular page css -->
<%- contentFor('title') %>
Dashboard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Incidentes</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item active">Bienvenido al Sistema Nacional de Gestión de Patrullas Policiales</li>
	</ol>
</div>

<%- contentFor('body') %>

<div class="row">
	<div class="col-xl">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Ultimos Incidentes</h4>
				<div class="table-responsive">
					<table class="table table-hover table-centered table-nowrap mb-0">
						<thead>
							<tr>
								<th scope="col">Tipo de Incidente</th>
								<th scope="col">Detalles</th>
								<th scope="col">Prioridad</th>
								<th scope="col">Fecha del incidente</th>
								<th scope="col">Involucrados</th>
								<th scope="col">Ubicación</th>
								<th scope="col">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Disputa</th>
								<td>Accidente de transito, 5 vehiculos involucrados...</td>
								<td><span class="badge badge-danger">Crítico</span></td>
								<td>15/1/2018</td>
								<td>3 personas</td>
								<td>La Carreras, Santiago</td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Ver</a>
										<a href="#" class="btn btn-danger btn-sm">Eliminar</a>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Disputa</th>
								<td>Atraco en progreso, 1 persona herida...</td>
								<td><span class="badge badge-danger">Crítico</span></td>
								<td>15/1/2018</td>
								<td>3 personas</td>
								<td>Gurabo, Santiago</td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Ver</a>
										<a href="#" class="btn btn-danger btn-sm">Eliminar</a>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Disputa</th>
								<td>Musica alta en horario prohibido...</td>
								<td><span class="badge badge-warning">Medio</span></td>
								<td>15/1/2018</td>
								<td>3 personas</td>
								<td>Pedro Garcia, Puerto Plata</td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Ver</a>
										<a href="#" class="btn btn-danger btn-sm">Eliminar</a>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Disputa</th>
								<td>Perro atrapado en alcantarilla...</td>
								<td><span class="badge badge-success">Leve</span></td>
								<td>15/1/2018</td>
								<td>3 personas</td>
								<td>El Embrujo 3ro, Santiago</td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Ver</a>
										<a href="#" class="btn btn-danger btn-sm">Eliminar</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Peity chart-->
<script src="public/assets/libs/peity/jquery.peity.min.js"></script>

<!-- Plugin Js-->
<script src="public/assets/libs/chartist/chartist.min.js"></script>
<script src="public/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>
<!-- nothing -->