<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link href="public/assets/libs/chartist/chartist.min.css" rel="stylesheet">
<!-- perticular page css -->
<%- contentFor('title') %>
Dashboard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Oficiales</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item active">Bienvenido al Sistema Nacional de Gestión de Patrullas Policiales</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">

    <div class="col-xl-4 col-md-6">
        <div class="card directory-card">
            <div class="card-body">
                <div class="media">
                    <img src="/assets/images/users/user-2.jpg" alt=""
                        class="img-fluid img-thumbnail rounded-circle avatar-lg">
                    <div class="media-body ml-3">
                        <h5 class="text-primary font-size-18 mt-0 mb-1">Hillary García</h5>
                        <p class="font-size-12 mb-2">Teniente Coronel</p>
                        <p class="mb-0">hgarcia@pn.gob.do</p>
                    </div>
                    <ul class="list-unstyled social-links float-right">
                        <li><a href="#" class="btn-primary"><i class="mdi mdi-chat-processing"></i></a></li>
                    </ul>
                </div>
                <hr>
                <p class="mb-0"><b>Intro : </b>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    atque corrupti quos dolores et... <a href="#" class="text-primary"> Leer más</a></p>
            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-4 col-md-6">
        <div class="card directory-card">
            <div class="card-body">
                <div class="media">
                    <img src="/assets/images/users/user-3.jpg" alt=""
                        class="img-fluid img-thumbnail rounded-circle avatar-lg">
                    <div class="media-body ml-3">
                        <h5 class="text-primary font-size-18 mt-0 mb-1">Engel Garcia</h5>
                        <p class="font-size-12 mb-2">General</p>
                        <p class="mb-0">egarcia@pn.gob.do</p>
                    </div>
                    <ul class="list-unstyled social-links float-right">
                        <li><a href="#" class="btn-primary"><i class="mdi mdi-chat-processing"></i></a></li>
                    </ul>
                </div>
                <hr>
                <p class="mb-0"><b>Intro : </b>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    atque corrupti quos dolores et... <a href="#" class="text-primary"> Leer más</a></p>
            </div>

        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-4 col-md-6">
        <div class="card directory-card">
            <div class="card-body">
                <div class="media">
                    <img src="/assets/images/users/user-4.jpg" alt=""
                        class="img-fluid img-thumbnail rounded-circle avatar-lg">
                    <div class="media-body ml-3">
                        <h5 class="text-primary font-size-18 mt-0 mb-1">Elvis Sosa</h5>
                        <p class="font-size-12 mb-2">Teniente</p>
                        <p class="mb-0">esosa@pn.gob.do</p>
                    </div>
                    <ul class="list-unstyled social-links float-right">
                        <li><a href="#" class="btn-primary"><i class="mdi mdi-chat-processing"></i></a></li>
                    </ul>
                </div>
                <hr>
                <p class="mb-0"><b>Intro : </b>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    atque corrupti quos dolores et... <a href="#" class="text-primary"> Leer más</a></p>
            </div>
        </div>
    </div>
    <!-- end col -->

</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Peity chart-->
<script src="public/assets/libs/peity/jquery.peity.min.js"></script>

<!-- Plugin Js-->
<script src="public/assets/libs/chartist/chartist.min.js"></script>
<script src="public/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>
<!-- nothing -->