<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link href="public/assets/libs/chartist/chartist.min.css" rel="stylesheet">
<!-- perticular page css -->
<%- contentFor('title') %>
Dashboard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Patrullas</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item active">Bienvenido al Sistema Nacional de Gestión de Patrullas Policiales</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">

    <div class="col-xl">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Patrullas</h4>
				<div class="table-responsive">
					<table class="table table-hover table-centered table-nowrap mb-0">
						<thead>
							<tr>
								<th scope="col">#Unidad</th>
                                <th scope="col">Matricula</th>
								<th scope="col">Marca</th>
								<th scope="col">Modelo</th>
								<th scope="col" colspan="2">Opciones</th>
							</tr>
						</thead>
						<tbody>
							<% Object.keys(patrullas).forEach(function(key) { %>
							<tr>
								<th scope="row">#<%= patrullas[key].id %></th>
								<td><%= patrullas[key].matricula %></td>
								<td><%= patrullas[key].marca %></td>
                                <td><%= patrullas[key].modelo %></td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Asignar HUB</a>
                                        <a href="#" class="btn btn-primary btn-sm">Ver en mapa</a>
                                        <a href="#" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
									</div>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Peity chart-->
<script src="public/assets/libs/peity/jquery.peity.min.js"></script>

<!-- Plugin Js-->
<script src="public/assets/libs/chartist/chartist.min.js"></script>
<script src="public/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>
<!-- nothing -->