<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link href="public/assets/libs/chartist/chartist.min.css" rel="stylesheet">
<!-- perticular page css -->
<%- contentFor('title') %>
Dashboard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Usuarios</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item active">Bienvenido al Sistema Nacional de Gestión de Patrullas Policiales</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">

    <div class="col-xl">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Usuarios</h4>
				<div class="table-responsive">
					<table class="table table-hover table-centered table-nowrap mb-0">
						<thead>
							<tr>
								<th scope="col">(#) Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Email</th>
								<th scope="col" colspan="2">Estado</th>
							</tr>
						</thead>
						<tbody>
							<% Object.keys(user).forEach(function(key) { %>
							<tr>
								<th scope="row">#<%= user[key].id %></th>
								<td>
									<div>
										<img src="public/assets/images/users/user-2.jpg" alt=""
											class="avatar-xs rounded-circle mr-2"><%= user[key].firstname + ' ' + user[key].lastname  %>
									</div>
								</td>
								<td><%= user[key].email %></td>
								<td><span class="badge badge-success"><%= user[key].status %></span></td>
								<td>
									<div>
										<a href="#" class="btn btn-primary btn-sm">Ver</a>
									</div>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Peity chart-->
<script src="public/assets/libs/peity/jquery.peity.min.js"></script>

<!-- Plugin Js-->
<script src="public/assets/libs/chartist/chartist.min.js"></script>
<script src="public/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>

<script src="public/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>
<!-- nothing -->