<%- contentFor('HeaderCss') %>
<!--Chartist Chart CSS -->
<link href="/public/assets/libs/chartist/chartist.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<!-- perticular page css -->
<%- contentFor('title') %>
Dashboard

<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Patrulla</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item active">Bienvenido al Sistema Nacional de Gestión de Patrullas Policiales</li>
	</ol>
</div>

<script> 
	var velocidad;
</script>

<%- contentFor('body') %>
<div class="row p-2">

    <div class="col-lg-5">
        <h5 class="mt-0 font-size-18 mb-4"><i class="ti-agenda text-primary mr-2"></i> Detalles</h5>
        <div class="card text-white bg-success" style="height: 300px;">
			<div class="card-body">
				<blockquote class="card-blockquote mb-0">
					<% Object.keys(patrulla).forEach(function(key) { %>
					<h5 class="mb-3">Unidad #<%= patrulla[key].id %></h4>
                    <h5>Marca: <%= patrulla[key].marca + ' ' + patrulla[key].modelo %></h5>
                    <h5>Matricula: <%= patrulla[key].matricula %></h5>
                    <h5>Placa: <%= patrulla[key].placa %></h5>
                    <h5>Estatus: <%= patrulla[key].status %></h5>
						<% if(!patrulla[key].hub) { %>
						<h5>HUB ID: Sin Asignar</h5>
						<% } else { %>
						<h5>HUB ID: <%= patrulla[key].hub %></h5>
						<% } %>
					<% }); %>
				</blockquote>
			</div>
		</div>
    </div>

    <div class="col-lg">
        <h5 class="mt-0 font-size-18 mb-4"><i class="ti-agenda text-primary mr-2"></i> Ubicación</h5>
        <div id="map" style="height: 300px;"></div>
    </div>

</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-3">
        <div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Informe Técnico</h4>

                <div id="chart_div" style="width: 400px; height: 200px;margin-left: 15px;"></div>

				<div class="mt-4">
					<table class="table mb-0">
						<tbody>
							<% Object.keys(patrulla).forEach(function(key) { %>
							<tr>
								<td>Desktop</td>
								<td><span class="badge badge-danger">Falla</span></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
    <div class="col-xl-4">
        <div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Incidentes</h4>
				<ol class="activity-feed">
					<% Object.keys(patrulla).forEach(function(key) { %>
						<% for(var i=0; i<3; i++ ) { %>
						<li class="feed-item">
							<div class="feed-item-list">
								<span class="date">Jan 22</span>
								<span class="activity-text"><%= patrulla[key].Incidentes[i].descripcion %></span>
							</div>
						</li>
						<% } %>
					<% }); %>
				</ol>
				<div class="text-center">
					<a href="#" class="btn btn-primary">Cargar Más</a>
				</div>
			</div>
		</div>
    </div>
	<div class="col-xl-5">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">Chat</h4>
				<div class="chat-conversation">
					<ul class="conversation-list" data-simplebar style="max-height: 367px;">
						<li class="clearfix">
							<div class="chat-avatar">
								<img src="/public/assets/images/users/user-2.jpg" class="avatar-xs rounded-circle"
									alt="male">
								<span class="time">10:00</span>
							</div>
							<div class="conversation-text">
								<div class="ctext-wrap">
									<span class="user-name">John Deo</span>
									<p>
										Hello!
									</p>
								</div>
							</div>
						</li>
						<li class="clearfix odd">
							<div class="chat-avatar">
								<img src="/public/assets/images/users/user-3.jpg" class="avatar-xs rounded-circle"
									alt="Female">
								<span class="time">10:01</span>
							</div>
							<div class="conversation-text">
								<div class="ctext-wrap">
									<span class="user-name">Smith</span>
									<p>
										Hi, How are you? What about our next meeting?
									</p>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="chat-avatar">
								<img src="/public/assets/images/users/user-2.jpg" class="avatar-xs rounded-circle"
									alt="male">
								<span class="time">10:04</span>
							</div>
							<div class="conversation-text">
								<div class="ctext-wrap">
									<span class="user-name">John Deo</span>
									<p>
										Yeah everything is fine
									</p>
								</div>
							</div>
						</li>
						<li class="clearfix odd">
							<div class="chat-avatar">
								<img src="/public/assets/images/users/user-3.jpg" class="avatar-xs rounded-circle"
									alt="male">
								<span class="time">10:05</span>
							</div>
							<div class="conversation-text">
								<div class="ctext-wrap">
									<span class="user-name">Smith</span>
									<p>
										Wow that's great
									</p>
								</div>
							</div>
						</li>
						<li class="clearfix odd">
							<div class="chat-avatar">
								<img src="/public/assets/images/users/user-3.jpg" class="avatar-xs rounded-circle"
									alt="male">
								<span class="time">10:08</span>
							</div>
							<div class="conversation-text">
								<div class="ctext-wrap">
									<span class="user-name mb-2">Smith</span>

									<img src="/public/assets/images/small/img-1.jpg" alt="" height="48"
										class="rounded mr-2">
									<img src="/public/assets/images/small/img-2.jpg" alt="" height="48" class="rounded">
								</div>
							</div>
						</li>
					</ul>
					<div class="row">
						<div class="col-sm-9 col-8 chat-inputbar">
							<input type="text" class="form-control chat-input" placeholder="Enter your text">
						</div>
						<div class="col-sm-3 col-4 chat-send">
							<button type="submit" class="btn btn-success btn-block">Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('FooterJs') %>

<!-- Paso el valor de velocidad a una etiqueta html para luego poder tomar el valor en un script -->
<% Object.keys(patrulla).forEach(function(key) { %>
	<% for(var i=0; i<patrulla[key].Medicions.length; i++ ) { %>
		<h1 id="velocidad" display="none"><%= patrulla[key].Medicions[i].medicion %></h1>
	<% } %>
<% }); %>

<!-- Peity chart-->
<script src="/public/assets/libs/peity/jquery.peity.min.js"></script>

<!-- JQuery Knob Plugin -->
<script src="/public/assets/libs/jquery-knob/jquery.knob.min.js"></script>
<script src="/public/assets/js/pages/jquery-knob.init.js"></script>

<!-- LeafletJS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<!-- Google Maps API -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMAW3D3YGcmxvjPCF3Vkm_Gmrql2OWuXU&callback=initMap"
  type="text/javascript"></script>

<script>
    var mymap = L.map('map').setView([19.482847349623142, -70.68293310786643], 13);
    var marker = L.marker([19.482847349623142, -70.68293310786643]).addTo(mymap);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
</script>

<!-- Google Gauge -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

	var velocidad = document.getElementById("velocidad").innerHTML;

	google.charts.load('current', {'packages':['gauge']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Label', 'Value'],
			['Velocidad', parseInt(velocidad)]
		]);

		var options = {
			width: 400, height: 200,
			redFrom: 90, redTo: 120,
			yellowFrom:75, yellowTo: 90,
			minorTicks: 5
		};

		var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

		chart.draw(data, options);
        
    }

</script>


<%- contentFor('BottomJs') %>
<!-- nothing -->